$color-light: #fff;
$color-light-2: #f7f7f7;
$color-light-3: #e7e7e7;

$color-dark: #000;
$color-dark-2: #444;
$color-dark-3: #555;

$color-red: #ff5049;
$color-red-light: #ffdad9;

$color-blue: #28b9b5;
