/**********************************************
  *** TOP PART
  **********************************************/

.top {
  height: 40vh;
  background-image: linear-gradient(
      rgba($color-dark, 0.35),
      rgba($color-dark, 0.35)
    ),
    url(../img/back.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.budget {
  position: absolute;
  width: 35rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-light;

  &__title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 300;
  }

  &__value {
    font-weight: 300;
    font-size: 4.6rem;
    text-align: center;
    margin-bottom: 2.5rem;
    letter-spacing: 2px;
  }

  &__income,
  &__expenses {
    padding: 1.2rem;
    text-transform: uppercase;
  }

  &__income {
    margin-bottom: 1rem;
    background-color: $color-green;
    display: flex;
    justify-content: flex-end;
  }

  &__expenses {
    background-color: $color-red;
    display: flex;
    justify-content: flex-end;
  }

  &__income--text,
  &__expenses--text {
    font-size: 1.3rem;
    color: $color-dark-2;
    margin-top: 2px;
    margin-right: auto;
  }

  &__income--value,
  &__expenses--value {
    letter-spacing: 1px;
  }

  &__income--percentage,
  &__expenses--percentage {
    width: 3.4rem;
    font-size: 1.1rem;
    padding: 3px 0;
    margin-left: 1rem;
  }

  &__expenses--percentage {
    background-color: rgba($color-light, 0.2);
    text-align: center;
    border-radius: 3px;
  }
}

.right {
  display: flex;
}

.red {
  color: $color-red !important;
}

.red-focus:focus {
  border: 1px solid $color-red !important;
}

/**********************************************
  *** BOTTOM PART
  **********************************************/

/***** FORM *****/
.add {
  padding: 1.4rem;
  border-bottom: 1px solid $color-light-3;
  background-color: $color-light-2;

  &__container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__type {
    width: 5.5rem;
    border: 1px solid $color-light-3;
    height: 4.4rem;
    font-size: 1.8rem;
    color: inherit;
    background-color: $color-light;
    margin-right: 1rem;
    font-weight: 300;
    transition: border 0.3s;
  }

  &__description,
  &__value {
    border: 1px solid $color-light-3;
    background-color: $color-light;
    color: inherit;
    font-family: inherit;
    font-size: 1.4rem;
    padding: 1.2rem 1.5rem;
    margin-right: 1rem;
    border-radius: 5px;
    transition: border 0.3s;
  }

  &__description {
    width: 40rem;
  }
  &__value {
    width: 10rem;
  }

  &__btn {
    font-size: 2rem;
    color: $color-green;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  &__btn:active {
    transform: translateY(2px);
  }

  &__type:focus,
  &__description:focus,
  &__value:focus {
    outline: none;
    border: 1px solid $color-green;
  }

  &__btn:focus {
    outline: none;
  }

  &__type {
    border-radius: 5px;
  }
}

/***** LISTS *****/
.container {
  width: 90%;
  margin: 6rem auto;
  display: flex;
  justify-content: center;
}

.income {
  width: 47.5rem;
  margin-right: 5rem;

  &__title {
    color: $color-green;
  }

  & .item__value,
  & .item__delete--btn {
    color: $color-green;
  }
}

.expenses {
  width: 47.5rem;

  &__title {
    color: $color-red;
  }

  & .item__value,
  & .item__percentage,
  & .item__delete--btn {
    color: $color-red;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.item {
  padding: 1.3rem;
  border-bottom: 1px solid $color-light-3;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &:first-child {
    border-top: 1px solid $color-light-3;
  }
  &:nth-child(even) {
    background-color: $color-light-2;
  }

  &__description {
    margin-right: auto;
  }

  &__value {
    transition: transform 0.2s;
  }

  &__percentage {
    margin-left: 1rem;
    transition: transform 0.2s;
    font-size: 1.1rem;
    background-color: $color-red-light;
    padding: 3px;
    border-radius: 3px;
    text-align: center;
    width: 4.5rem;
  }

  &__delete {
    display: flex;
  }

  &__delete--btn {
    font-size: 1.4rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
  }

  &__delete--btn:focus {
    outline: none;
  }
  &__delete--btn:active {
    transform: translateY(2px);
  }

  &:hover .item__delete--btn {
    display: block;
  }
  &:hover .item__value {
    transform: translateX(-1.5rem);
  }
  &:hover .item__percentage {
    transform: translateX(-1.5rem);
  }
}

.unpaid {
  background-color: $color-red-light !important;
  cursor: pointer;
  color: $color-red;

  & .item__percentage {
    box-shadow: 0 2px 6px 0 rgba($color-dark, 0.1);
  }
  &:hover .item__description {
    font-weight: 900;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 55%;
  }

  .container {
    width: 98%;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    margin: 1rem auto;
  }

  .income {
    margin-bottom: 5rem;
    min-height: 10vh;
  }

  .income,
  .expenses {
    width: 100%;
  }

  .income__title,
  .expenses__title {
    text-align: center;
    margin: 0.5rem auto 2rem auto;
  }

  .budget__value {
    font-size: 2.5rem;
  }

  .add__btn {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 350px) {
  .add__container {
    flex-wrap: wrap;
  }

  .add__description {
    order: 1;
  }

  .add__description,
  .add__value,
  .add__type,
  .add__btn {
    width: 45%;
  }

  .add__type {
    order: 2;
    margin-top: 1rem;
  }

  .add__btn {
    margin-right: 0;
    order: 3;
    font-size: 3rem;
    transform: translateY(0.5rem) translateX(-1rem);
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
  .top {
    height: 60vh;
  }

  .budget {
    padding: 1rem;

    &__title {
      font-size: 1.5rem;
    }

    &__value {
      font-size: 3rem;
    }

    &__income,
    &__expenses {
      padding: .5rem;
    }
  }

  .income__title,
  .expenses__title {
    text-align: center;
  }
}
